.cardFrame{
    width: 20rem;
}

.emptyFrame{
    z-index: 5;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cardSize{
    width: 800px;
    height: 1136px;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    transform: initial;
    display: inline-block;
}

.cardName {
    font-family: 'Laila', sans-serif;
    font-weight: bold;
    z-index: 8;
    top: 49.7%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    position: absolute;
    text-align: center;
}

.cardInput{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    -webkit-text-stroke: 1px
    #373737;
    -webkit-font-smoothing: antialiased;
}