* {
  box-sizing: border-box;
}


.App {
  text-align: center;
  padding-top: 3em;
}

.btn {
  width: 100%;
  margin: 0 0 5px;
}

.dropdown-menu.show{
  width: 100%;
  text-align: center;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

a, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.affinity-None{
  background-color: rgba(208, 208, 208, 0.13);
}
.affinity-Mind{
  background-color: rgba(31, 161, 217, 0.13);
}
.affinity-Strength{
  background-color: rgba(217, 37, 31, 0.13);
}
.affinity-Spirit{
  background-color: rgba(43, 217, 31, 0.13);
}

.opaque {
  opacity: 1 !important;
}

.options{
  position: fixed;
}

.page-bottom{
  margin-bottom: 150px;
}


